In [1]:
#Importing the necessary modules
import pandas as pd
import numpy as np

In [2]:
# Reading the csv file
# The parameter (encoding_errors='replace') specifies how to handle encoding errors ensuring they do not raise an exception while reading the file 
df = pd.read_csv("F:\Datasets for DS club\Most Streamed Spotify Songs 2024.csv", encoding_errors='replace')

In [3]:
df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.0+ MB

In [5]:
# Dropping Duplicates

In [6]:
# ISRC is a unique and permanent identifier for each sound recording.
# Therefore, the uniqueness of a song (a row) can be determined if the ISRC is unique.
# Checking the uniqueness of the ISRC column
df['ISRC'].nunique()

4598

In [7]:
# Identify duplicate rows based on the entire row (all columns)
# Create a new dataframe with only the duplicate rows
duplicate_mask = df.duplicated(keep=False)
duplicate_rows = df[duplicate_mask]
print(duplicate_rows)

                 Track        Album Name         Artist Release Date  \
2449  Tennessee Orange  Tennessee Orange  Megan Moroney     9/2/2022
2450  Tennessee Orange  Tennessee Orange  Megan Moroney     9/2/2022
3447            Dembow            Dembow    Danny Ocean    12/8/2017
3450            Dembow            Dembow    Danny Ocean    12/8/2017

              ISRC All Time Rank  Track Score Spotify Streams  \
2449  TCAGJ2289254         2,424         28.9     227,893,586
2450  TCAGJ2289254         2,424         28.9     227,893,586
3447  USWL11700269         3,441         23.3     579,189,526
3450  USWL11700269         3,441         23.3     579,189,526

     Spotify Playlist Count Spotify Playlist Reach  ...  SiriusXM Spins  \
2449                 28,139             12,480,714  ...              34
2450                 28,139             12,480,714  ...              34
3447                 60,397             11,805,084  ...               9
3450                 60,397             11,805,084  ...               9

     Deezer Playlist Count Deezer Playlist Reach Amazon Playlist Count  \
2449                   5.0                 1,370                  49.0
2450                   5.0                 1,370                  49.0
3447                  20.0                37,649                  12.0
3450                  20.0                37,649                  12.0

     Pandora Streams Pandora Track Stations Soundcloud Streams  Shazam Counts  \
2449      56,972,562                 26,968          1,336,043        708,143
2450      56,972,562                 26,968          1,336,043        708,143
3447       6,723,858                  7,832                NaN      1,619,550
3450       6,723,858                  7,832                NaN      1,619,550

     TIDAL Popularity Explicit Track
2449              NaN              0
2450              NaN              0
3447              NaN              0
3450              NaN              0

[4 rows x 29 columns]

In [8]:
# Dropping duplicates based on the ISRC column
df.drop_duplicates(subset=['ISRC'], inplace=True)

print("Duplicates based on the '{}' column have been dropped.".format('ISRC'))
df.info()

Duplicates based on the 'ISRC' column have been dropped.
<class 'pandas.core.frame.DataFrame'>
Index: 4598 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4598 non-null   object
 1   Album Name                  4598 non-null   object
 2   Artist                      4593 non-null   object
 3   Release Date                4598 non-null   object
 4   ISRC                        4598 non-null   object
 5   All Time Rank               4598 non-null   object
 6   Track Score                 4598 non-null   float64
 7   Spotify Streams             4485 non-null   object
 8   Spotify Playlist Count      4528 non-null   object
 9   Spotify Playlist Reach      4526 non-null   object
 10  Spotify Popularity          3794 non-null   float64
 11  YouTube Views               4290 non-null   object
 12  YouTube Likes               4283 non-null   object
 13  TikTok Posts                3425 non-null   object
 14  TikTok Likes                3618 non-null   object
 15  TikTok Views                3617 non-null   object
 16  YouTube Playlist Reach      3589 non-null   object
 17  Apple Music Playlist Count  4037 non-null   float64
 18  AirPlay Spins               4100 non-null   object
 19  SiriusXM Spins              2475 non-null   object
 20  Deezer Playlist Count       3677 non-null   float64
 21  Deezer Playlist Reach       3670 non-null   object
 22  Amazon Playlist Count       3543 non-null   float64
 23  Pandora Streams             3492 non-null   object
 24  Pandora Track Stations      3330 non-null   object
 25  Soundcloud Streams          1266 non-null   object
 26  Shazam Counts               4021 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4598 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.1+ MB

In [9]:
# Identifying and handling missing values

In [10]:
# Checking the number of null values per column 
df.isna().sum()

Track                            0
Album Name                       0
Artist                           5
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3332
Shazam Counts                  577
TIDAL Popularity              4598
Explicit Track                   0
dtype: int64

In [11]:
# Dropping unnecesary columns
# Specifically, drop the TIDAL Popularity column since it contains no values.
df = df.drop('TIDAL Popularity', axis=1)

In [12]:
# Focus on the null records based on the Artist column.
# Specify the column to check for null values; Artist column.
column_name = 'Artist'

# Filter and display rows where the Artist column has null values.
null_records = df[column_name].isnull().sum()
print(f"Number of null_records in the column: {null_records}")

Number of null_records in the column: 5

In [13]:
# Displaying missing values based on the Artist column
Artist=df[df["Artist"].isnull()]
Artist

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,AirPlay Spins,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track
311,Cool,JnD Mix,NaN,5/25/2024,QZNWQ2410638,311,86.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"8,624,577",0
480,I Wanna Party,I Wanna Party - Single,NaN,5/31/2024,QZYFZ2445017,482,70.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1345,Marlboro Remix,Marlboro Remix - Single,NaN,6/7/2024,QZNWT2471497,"1,343",40.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"504,979",0
1561,Melting,Melting - Single,NaN,6/10/2024,QZNWU2402635,"1,553",37.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"289,134",0
3402,La ï¿½ï¿½ltima Vez (Yo Te Per,La ï¿½ï¿½ltima Vez (Yo Te Perdï¿½ï¿½),NaN,5/2/2024,MX2832415361,"3,381",23.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,606,561",0

In [14]:
# Dropping null records based on the Artist column
df = df.dropna(subset=['Artist'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4593 entries, 0 to 4599
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4593 non-null   object
 1   Album Name                  4593 non-null   object
 2   Artist                      4593 non-null   object
 3   Release Date                4593 non-null   object
 4   ISRC                        4593 non-null   object
 5   All Time Rank               4593 non-null   object
 6   Track Score                 4593 non-null   float64
 7   Spotify Streams             4485 non-null   object
 8   Spotify Playlist Count      4528 non-null   object
 9   Spotify Playlist Reach      4526 non-null   object
 10  Spotify Popularity          3794 non-null   float64
 11  YouTube Views               4290 non-null   object
 12  YouTube Likes               4283 non-null   object
 13  TikTok Posts                3425 non-null   object
 14  TikTok Likes                3618 non-null   object
 15  TikTok Views                3617 non-null   object
 16  YouTube Playlist Reach      3589 non-null   object
 17  Apple Music Playlist Count  4037 non-null   float64
 18  AirPlay Spins               4100 non-null   object
 19  SiriusXM Spins              2475 non-null   object
 20  Deezer Playlist Count       3677 non-null   float64
 21  Deezer Playlist Reach       3670 non-null   object
 22  Amazon Playlist Count       3543 non-null   float64
 23  Pandora Streams             3492 non-null   object
 24  Pandora Track Stations      3330 non-null   object
 25  Soundcloud Streams          1266 non-null   object
 26  Shazam Counts               4017 non-null   object
 27  Explicit Track              4593 non-null   int64
dtypes: float64(5), int64(1), object(22)
memory usage: 1.0+ MB

In [15]:
# The function name; fill_mean_round has been defined where the dataframe(df) and column_name are taken as inputs.
# It fills missing values with the mean of the column
def fill_mean_round(df, column_name):
    df[column_name] = df[column_name].fillna(df[column_name].mean()).round(0)
    return df

columns_to_fill = [
    'Apple Music Playlist Count',
    'Deezer Playlist Count',
    'Amazon Playlist Count',
    'Spotify Popularity'
]

for column in columns_to_fill:
    df = fill_mean_round(df, column)

# Check for null values
print(df.isnull().sum())

Track                            0
Album Name                       0
Artist                           0
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                108
Spotify Playlist Count          65
Spotify Playlist Reach          67
Spotify Popularity               0
YouTube Views                  303
YouTube Likes                  310
TikTok Posts                  1168
TikTok Likes                   975
TikTok Views                   976
YouTube Playlist Reach        1004
Apple Music Playlist Count       0
AirPlay Spins                  493
SiriusXM Spins                2118
Deezer Playlist Count            0
Deezer Playlist Reach          923
Amazon Playlist Count            0
Pandora Streams               1101
Pandora Track Stations        1263
Soundcloud Streams            3327
Shazam Counts                  576
Explicit Track                   0
dtype: int64

In [16]:
# Converting data types

In [17]:
# Convert the 'Release Date' column from an object datatype to a datetime datatype
df['Release Date'] = pd.to_datetime(df['Release Date'])

In [18]:
# Modifying the 'All Time Rank' column by removing commas from the values in the column and replacing them with an empty string
df['All Time Rank'] = df['All Time Rank'].str.replace(',', '').astype(int)

In [19]:
# Modifying the 'Explicit Track' column by converting the values in the column to boolean values (True or False)
df['Explicit Track'] = df['Explicit Track'].astype(bool)

In [20]:
# The function name; clean_column has been defined where the dataframe(df) and column_name are taken as inputs
# It does the following:
# Replaces commas with empty strings and converts the column to float type
# Fills missing values with the mean of the column
# Converts the column into integer type
def clean_column(df, column_name):
    df[column_name] = df[column_name].str.replace(',', '').astype(float)
    mean_value = df[column_name].mean()
    df[column_name] = df[column_name].fillna(mean_value).astype(np.int64)
    return df

columns_to_clean = [
    'Spotify Streams',
    'Spotify Playlist Count',
    'Spotify Playlist Reach',
    'YouTube Views',
    'YouTube Likes',
    'YouTube Playlist Reach',
    'TikTok Posts',
    'TikTok Likes',
    'TikTok Views',
    'AirPlay Spins',
    'Deezer Playlist Reach',
    'Pandora Streams',
    'Pandora Track Stations',
    'Soundcloud Streams',
    'Shazam Counts',
    'SiriusXM Spins'
]

for column in columns_to_clean:
    df = clean_column(df, column)

In [21]:
# Creating new columns

In [22]:
# Creating a "Total Streams" column
df['Total Streams'] = df[['Spotify Streams','Pandora Streams','Soundcloud Streams']].sum(axis=1)

In [23]:
# Creating a "Total Views" column
df['Total Views'] = df[['YouTube Views', 'TikTok Views']].sum(axis=1)

In [24]:
# Getting the Radio play of each artist 
df['Radio Airplay'] = df['AirPlay Spins'] + df['SiriusXM Spins']

In [25]:
# Calculating the Engagement Rate

# Engagement is a measure of how the audience interacts with the content such as through likes or comments.
# The Engagement Rate is calculated by dividing the engagement by the number of views and then multiplying by 100 to convert into a percentage.

# YouTube Engagement Rate: (YouTube Likes / YouTube Views) * 100
df['YouTube Engagement Rate'] = (df['YouTube Likes'] / df['YouTube Views']) * 100
# TikTok Engagement Rate: (TikTok Likes / TikTok Views) * 100
df['TikTok Engagement Rate'] = (df['TikTok Likes'] / df['TikTok Views']) * 100

print(df[['Track', 'YouTube Engagement Rate', 'TikTok Engagement Rate']].head())

                        Track  YouTube Engagement Rate  TikTok Engagement Rate
0         MILLION DOLLAR BABY                 2.032787               12.219269
1                 Not Like Us                 2.996844               16.906841
2  i like the way you kiss me                 1.817901                8.166945
3                     Flowers                 0.969783                7.386868
4                     Houdini                 4.743441                9.700258

In [26]:
df

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track,Total Streams,Total Views,Radio Airplay,YouTube Engagement Rate,TikTok Engagement Rate
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,QM24S2402528,1,725.4,390470936,30716,196631588,...,18004655,22931,4818457,2669262,False,413294048,5416556690,41659,2.032787,12.219269
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,USUG12400910,2,545.9,323703884,28113,174597137,...,7780028,28444,6623075,1118279,True,338106987,324686065,40781,2.996844,16.906841
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,QZJ842400387,3,538.4,601309283,54331,211607669,...,5022621,5639,7208651,5285340,False,613540555,3491719726,74869,1.817901,8.166945
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,USSM12209777,4,444.9,2031280633,269802,136569078,...,190260277,203384,14858641,11822942,False,2236399551,15699826893,1476981,0.969783,7.386868
4,Houdini,Houdini,Eminem,2024-05-31,USUG12403398,5,423.3,107034922,7223,151469874,...,4493884,7006,207179,457017,True,111735985,1239097493,12186,4.743441,9.700258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,2017-09-05,QM8DG1703420,4585,19.4,305049963,65770,5103054,...,20104066,13184,50633006,656337,True,375787035,293182126,263,0.936423,14.035563
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,2018-07-27,INT101800122,4575,19.4,52282360,4602,1449767,...,85698173,87919,14858641,193590,False,152839174,943940180,669,0.566549,8.633057
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2020-02-28,USUG12000043,4571,19.4,189972685,72066,6704802,...,84426740,28999,14858641,1135998,True,289258066,237876338,461,0.537938,14.352293
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,2016-11-08,INY091600067,4591,19.4,145467020,14037,7387064,...,6817840,87919,14858641,448292,False,167143501,1156352460,1457,0.345865,6.713486
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,2017-04-11,USB271700107,4593,19.4,255740653,32138,14066526,...,69006739,11320,14858641,767006,True,339606033,936497143,2340,0.441744,14.324756

In [27]:
# Checking for correct data types and absence of null values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4593 entries, 0 to 4599
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4593 non-null   object
 1   Album Name                  4593 non-null   object
 2   Artist                      4593 non-null   object
 3   Release Date                4593 non-null   datetime64[ns]
 4   ISRC                        4593 non-null   object
 5   All Time Rank               4593 non-null   int32
 6   Track Score                 4593 non-null   float64
 7   Spotify Streams             4593 non-null   int64
 8   Spotify Playlist Count      4593 non-null   int64
 9   Spotify Playlist Reach      4593 non-null   int64
 10  Spotify Popularity          4593 non-null   float64
 11  YouTube Views               4593 non-null   int64
 12  YouTube Likes               4593 non-null   int64
 13  TikTok Posts                4593 non-null   int64
 14  TikTok Likes                4593 non-null   int64
 15  TikTok Views                4593 non-null   int64
 16  YouTube Playlist Reach      4593 non-null   int64
 17  Apple Music Playlist Count  4593 non-null   float64
 18  AirPlay Spins               4593 non-null   int64
 19  SiriusXM Spins              4593 non-null   int64
 20  Deezer Playlist Count       4593 non-null   float64
 21  Deezer Playlist Reach       4593 non-null   int64
 22  Amazon Playlist Count       4593 non-null   float64
 23  Pandora Streams             4593 non-null   int64
 24  Pandora Track Stations      4593 non-null   int64
 25  Soundcloud Streams          4593 non-null   int64
 26  Shazam Counts               4593 non-null   int64
 27  Explicit Track              4593 non-null   bool
 28  Total Streams               4593 non-null   int64
 29  Total Views                 4593 non-null   int64
 30  Radio Airplay               4593 non-null   int64
 31  YouTube Engagement Rate     4593 non-null   float64
 32  TikTok Engagement Rate      4593 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(7), int32(1), int64(19), object(4)
memory usage: 1.1+ MB

In [28]:
# Display the final number of rows and columns 
df.shape

(4593, 33)

In [29]:
#Converting the Release Date column data type from object to datetime using the pd.to_datetime() function
df['Release Date'] = pd.to_datetime(df['Release Date'], format='%m/%d/%Y')

In [30]:
#Adding new columns i.e Release_Year and Release_month in case the analysis is to be done on a monthly or annual basis
df['Release_Year'] = df['Release Date'].dt.year
df['Release_month_number'] = df['Release Date'].dt.month

In [31]:
df['Country_code'] = df['ISRC'].str[0:2]

In [32]:
df.to_csv("F:\Datasets for DS club\Spotify clean dataset.csv")